<dx-data-grid
  [dataSource]="pokemonList"  
  [keyExpr]="'pokemonID'"
  [columns]="columns"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [paging]="{ pageSize: 10 }"
  [filterRow]="{ visible: true }"
  [searchPanel]="{ visible: true }"
  [showBorders]="true"
  [hoverStateEnabled]="true"
  (onRowClick)="openDrawer($event.data)">
  
  <dxo-editing mode="popup"></dxo-editing>
  
  <dxo-toolbar>
    <dxi-item location="before">
      <dx-button
        icon="plus"
        text="Add New Pokémon"
        (onClick)="openDrawer()">
      </dx-button>
    </dxi-item>
  </dxo-toolbar>

  <div *dxTemplate="let data of 'imageTemplate'">
    <img [src]="data.value" width="50" height="50" alt="Pokemon Image">
  </div>
</dx-data-grid>

<dx-drawer
  [opened]="isDrawerOpen"
  [height]="'100vh'"
  [position]="'right'"
  [revealMode]="'slide'"
  [shading]="false"
  [width]="'30%'"
  [animationEnabled]="true"
  (onOptionChanged)="handleDrawerClose($event)">

  <div *ngIf="selectedPokemon" class="drawer-content">
    <h3>{{ isNewPokemon ? 'Add New' : 'Edit' }} Pokémon</h3>
    
    <div class="pokemon-image-container">
      <img 
        [src]="selectedPokemon.pokemonPicture?.picturePath" 
        width="100" 
        height="100" 
        alt="Pokemon Image"
      />
    </div>

    <dx-form
      [formData]="selectedPokemon"
      [colCount]="2"
      [showValidationSummary]="true">
      <dxi-item 
      dataField="pokemonName" 
        [validationRules]="[{ type: 'required', message: 'Pokémon name is required' }]">
      </dxi-item>
      <dxi-item 
        dataField="types"
        editorType="dxTagBox"
        [editorOptions]="{
          dataSource: types$ | async,
          displayExpr: 'typeName',
          keyExpr: 'typeID',
          searchEnabled: true,
          showSelectionControls: true,
          applyValueMode: 'useButtons'
        }"
        [validationRules]="[{ type: 'required', message: 'At least one Type is required' }]"
      ></dxi-item>

      <dxi-item 
        dataField="moves"
        editorType="dxTagBox"
        [editorOptions]="{
          dataSource: moves$ | async,
          displayExpr: 'moveName',
          keyExpr: 'moveID',
          searchEnabled: true,
          showSelectionControls: true,
          applyValueMode: 'useButtons'
        }"
        [validationRules]="[{ type: 'required', message: 'At least one Move is required' }]"
      ></dxi-item>

    <dxi-item
      dataField="regions"
      caption="Regions">
    </dxi-item>      
    <dxi-item
      dataField="evolutionStages"
      caption="Evolution Stages">
    </dxi-item>
      
      <dxi-item>
        <dx-button 
          text="Save" 
          type="success" 
          (onClick)="saveChanges()">
        </dx-button>
        <dx-button 
          text="Cancel" 
          type="danger" 
          (onClick)="closeDrawer()">
        </dx-button>
      </dxi-item>
    </dx-form>
  </div>
</dx-drawer>