  <dx-data-grid
    [dataSource]="trainers"
    [keyExpr]="'trainerID'"
    (columns)="columns"
    [allowColumnResizing]="true"
    [paging]="{ pageSize: 10 }"
    [filterRow]="{ visible: true }"
    [searchPanel]="{ visible: true }"
    (onRowClick)="openDrawer($event.data)">
    
    <dxo-editing mode="popup"></dxo-editing>
    
    <dxo-toolbar>
      <dxi-item location="before">
        <dx-button
          icon="plus"
          text="Add New Trainer"
          (onClick)="openDrawer()">
        </dx-button>
      </dxi-item>
    </dxo-toolbar>

    <div *dxTemplate="let data of 'photoTemplate'">
      <img [src]="getPhotoUrl(data.value)" class="trainer-photo" alt="Trainer Photo">
    </div>
  </dx-data-grid>