  <dx-data-grid
    [dataSource]="trainers"
    [keyExpr]="'trainerID'"
    (columns)="columns"
    [allowColumnResizing]="true"
    [paging]="{ pageSize: 10 }"
    [filterRow]="{ visible: true }"
    [searchPanel]="{ visible: true }"
    (onRowClick)="openDrawer($event.data)">

    
    <div *dxTemplate="let data of 'imageTemplate'">
      <img [src]="data.value" width="100" height="100" alt="Pokemon Image">
    </div>
    
    <dxo-editing mode="popup"></dxo-editing>
    
    <dxo-toolbar>
      <dxi-item location="before">
        <dx-button
          icon="plus"
          text="Add New Trainer"
          (onClick)="openDrawer()">
        </dx-button>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>